<h1>Ethereum</h1>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<br>
<br>

<center><ul class="pagination">
    <li><a href="/">1</a></li>
    <li><a href="/page2">2</a></li>
    <li><a href="/page3">3</a></li>
    <li><a href="/page4">4</a></li>
    <li><a href="/page5">5</a></li>
    <li><a href="/page6">6</a></li>
    <li><a href="/page7">7</a></li>
    <li><a href="/page8">8</a></li>
    <li><a href="/page9">9</a></li>
    <li><a href="/page10">10</a></li>
    <li><a href="/page11">11</a></li>
    <li><a href="/page12">12</a></li>
    <li><a href="/page13">13</a></li>
    <li><a href="/page14">14</a></li>
    <li><a href="/page15">15</a></li>
    <li><a href="/page16">16</a></li>
    <li><a href="/page17">17</a></li>
    <li><a href="/page18">18</a></li>
</ul></center>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Price</th>
            <th>Total Market Cap Value</th>
            <th>Transactions</th>


        </tr>
        </thead>

        <tbody>

        {{#each etherprice}}


            <tr>
                <td>{{this.timestamp}}</td>
                <td>${{this.price_USD}}</td>
                <td>${{this.market-cap-value}}</td>
                <td>{{this.transactions}}</td>

            </tr>

        {{/each}}


        </tbody>

    </table>
</div>



</body>
</html>

